<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
 <display-name>sel</display-name>
<!--  <context-param> -->
<!--   <param-name>contextConfigLocation</param-name> -->
<!--   <param-value>/WEB-INF/applicationContext-security.xml</param-value> -->
<!--  </context-param> -->
<!--  <context-param> -->
<!--   <param-name>javax.faces.DEFAULT_SUFFIX</param-name> -->
<!--   <param-value>.xhtml</param-value> -->
<!--  </context-param> -->
<!--  <context-param> -->
<!--   <param-name>javax.faces.PROJECT_STAGE</param-name> -->
<!--   <param-value>Development</param-value> -->
<!--  </context-param> -->
<!--  <context-param> -->
<!--   <param-name>primefaces.THEME</param-name> -->
<!--   <param-value>glass-x</param-value> -->
<!--  </context-param> -->
<!--  <filter> -->
<!--   <filter-name>springSecurityFilterChain</filter-name> -->
<!--   <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!--  </filter> -->
<!--  <filter-mapping> -->
<!--   <filter-name>springSecurityFilterChain</filter-name> -->
<!--   <url-pattern>/*</url-pattern> -->
<!--   <dispatcher>FORWARD</dispatcher> -->
<!--   <dispatcher>REQUEST</dispatcher> -->
<!-- mandatory to allow the managed bean  -->
<!-- 			to forward the request to the filter -->
<!--  </filter-mapping> -->
<!--  <listener> -->
<!--   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> -->
<!--  </listener> -->
<!--  <listener> -->
<!--   <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class> -->
<!--  </listener> -->
<!--  <servlet> -->
<!--   <servlet-name>Faces Servlet</servlet-name> -->
<!--   <servlet-class>javax.faces.webapp.FacesServlet</servlet-class> -->
<!--   <load-on-startup>1</load-on-startup> -->
<!--  </servlet> -->
<!--  <servlet-mapping> -->
<!--   <servlet-name>Faces Servlet</servlet-name> -->
<!--   <url-pattern>*.jsf</url-pattern> -->
<!--  </servlet-mapping> -->
 <welcome-file-list>
  <welcome-file>/login.jsp</welcome-file>
 </welcome-file-list>
</web-app>
